<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cadastro">Cadastro Empresas</a>
    <a class="nav-link" href="/listaEmpresa">Lista Empresas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cadastroCliente">Cadastro Clientes</a>
    <a class="nav-link" href="/listaCliente">Lista Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://vrmtelecom.com.br">VRM Telecom</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Calculadora">Calculadora</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Desativado</a>
  </li>
</ul>