<h1>Cadastrar Cliente: </h1>
<div class="card">
    <form action="/listar_cadastro_cliente" method="POST">
        <label for="nome">Cliente: </label><br>
            <input type="text" id="nome" name="nome" required placeholder="Nome cliente"><br>
        <label for="nome">Sobrenome: </label><br>
            <input type="text" id="sobreNome" name="sobreNome" required placeholder="Sobrenome"><br>
        <label for="telefone">Telefone: </label><br>
            <input type="text" id="telefone" name="telefone" required placeholder="Telefone cliente"> <br>
    <button class="btn btn-info" type="submit">Cadastrar cliente</button>

    </form>
</div>